{% extends "base.html" %} {%block title%} NYC Water Cost:About {%endblock%} {% block content %}

<main id="main" style="border: 0px solid red">
  <!-- ======= Light Blue Bar ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>About this Project</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About this Project</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Light Blue Bar -->

  <section data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      This web application was created for CISC 3810. The goal of this project was to create a full stack application, complete with a
      database layer, business layer and a user-friendly front end interface. I stored the data in a PostgreSQL database, which I then
      hosted on Heroku. I used Python for the business layer, with Flask for the web framework, along with SQLAlchemy as an Object
      Relational Mapper and flask-login to handle user authentication and sessions. I used HTML 5, CSS, Javascript (some jQuery) to create
      the front end. I used some Bootstrap features for the design, as well as the data tables.
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock content %}
