{% extends "base.html" %} {%block title%} NYC Water Cost:About {%endblock%} {% block content %}

<main id="main" style="border: 0px solid red">
  <!-- ======= Light Blue Bar ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>About this Project</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About this Project</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Light Blue Bar -->

  <section data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      This web application was created for CISC 3810 Database Systems. The goal of this project was to create a full stack application,
      complete with a database layer, business layer and a user-friendly front-end interface. The data is stored in a Postgres database,
      hosted on Heroku. Python is used for the business layer, with Flask for the web framework, along with SQLAlchemy as an Object
      Relational Mapper and Flask-Login for user authentication and session management. The front-end is created in HTML 5, CSS, and
      JavaScript. Bootstrap is used to style the elements and to create a responsive web application. In addition, Bootstrap DataTables are
      used to display the rows of data. The web application is hosted on Heroku.
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock content %}
