{% extends "base.html" %} {%block title%} NYC Water Charges {%endblock%} {% block content %}
<script src="/static/js/charges.js"></script>
<main id="main">
  <!-- ======= Light Blue Bar ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Charges</h2>
        <ol>
          <li class="restricted"><a href="{{url_for('index')}}">Home</a></li>
          <li class="restricted"><a href="{{ url_for('list_dev', borough=0) }}">Developments</a></li>
          <li class="restricted"><a href="{{ url_for('list_dev', borough=borough_id) }}">{{borough_name}}</a></li>
          <li><a href="{{ url_for('buildings', id=dev_id) }}">Development: {{dev_name}}</a></li>
          <li>Building: {{bldg_name}}</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Light Blue Bar -->

  <!-- ======= About Section ======= -->
  <section class="about" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Charges for {{bldg_name}}</h3>
          <span class="font-italic">Borough: {{borough_name}}</span><br />
          <span class="font-italic">Development: {{dev_name}}</span> <br />
          <span class="font-italic">Development ID: {{dev_id}}</span>
          <ul>
            <li><i class="icofont-check-circled"></i> Logged in as: {{current_user}}</li>
          </ul>
          <img src="/static/img/neighborhoods.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0">
          <p></p>
          <table
            id="myTable"
            class="table mx-auto table-hover table-striped table-bordered text-left w-auto table-fixed"
            style="border: 0px red solid; width: auto; margin: 0px auto"
          >
            <thead class="text-center">
              <th>Bill ID</th>
              <th style="display: none">Pay Bill</th>
              <th>Building</th>
              <th style="display: none">Meter</th>
              <th>Revenue Month</th>
              <th>Start</th>
              <th>End</th>
              <th>Charges</th>
              <th>Days</th>
            </thead>

            <tbody>
              {% for b in bills %}
              <tr>
                <td>
                  {{b.bill_id }}
                  <a onclick="delete_bill('{{b.bill_id}}', '{{bldg_id}}')"><i name="delete" class="fa fa-trash fa-1x restricted"></i></a>
                </td>

                <td style="display: none" class="text-center"><a href="{{url_for('pay_bill')}}">Pay Bill</a></td>
                <td class="text-center">{{b.building.location}}</td>
                <td style="display: none">{{b.meter.meter_number}}</td>
                <td class="text-center">{{b.revenue_month}}</td>
                <td class="text-nowrap">{{b.service_start_date }}</td>
                <td class="text-nowrap">{{b.service_end_date }}</td>

                <td class="text-right" id="{{b.bill_id}}charges">
                  <script>
                    document.write(formatMoney("{{b.current_charges }}"));
                  </script>
                  <a onclick="edit('{{b.bill_id}}', '{{bldg_id}}')"> <i name="edit" class="fa fa-pencil fa-1x restricted"></i> </a>
                </td>
                <td class="text-center">{{ b.days }}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- End Developments Section -->
</main>
<!-- End #main -->

<script>
  $(document).ready(function () {});

  $("#myTable").DataTable({
    //pageLength: 20,
    paging: false,
    filter: true,
    deferRender: true,
    //scrollY: 1200,
    scrollCollapse: true,
    scroller: true,
    ordering: true,
    order: [0, "desc"],
    select: true,
    bSort: false,
  });
</script>
{% endblock content %}
