{% extends "base.html" %} {%block title%} Paid {%endblock%} {% block content %}

<main id="main" style="border: 0px solid red">
  <!-- ======= Light Blue Bar ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Thank you for your payment of ${{amount}}.</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Bill Paid.</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Light Blue Bar -->

  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      Monthly consumption and cost data by borough and development. Data set includes utility vendor and meter information. Data retrieved
      from NYC Open Data. Data provided by New York City Housing Authority (NYCHA)
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock content %}
