{% extends "base_anon.html" %} {%block title%} NYC Water Charges {%endblock%} {% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarouselx" class="container carousel carousel-fade" data-ride="carouselx">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">NYC Water <span>Charges</span></h2>
        <p class="animate__animated animate__fadeInUp">
          This app keeps track of water charges for developments and buildings throughout New York City.
        </p>
        <a href="{{url_for('login')}}" class="btn-get-started animate__animated animate__fadeInUp">Log In</a>
        <a href="{{url_for('register')}}" class="btn-get-started animate__animated animate__fadeInUp">Sign Up</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">About this Project</h2>
        <p class="animate__animated animate__fadeInUp"></p>
        <a href="{{url_for('login')}}" class="btn-get-started animate__animated animate__fadeInUp">Log In</a>
        <a href="{{url_for('register')}}" class="btn-get-started animate__animated animate__fadeInUp">Sign Up</a>
      </div>
    </div>

    <div style="display: none">
      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">intentionally left blank</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Log In</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main" style="border: 0px solid red">
  <!-- ======= Services Section ======= -->
  <section style="display: none" class="services">
    <div class="container">
      <div class="row" style="border: 0px solid green">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Developments</a></h4>
            <p class="description">View a list of developments in NYC</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Buildings</a></h4>
            <p class="description">View a list of buildings in NYC</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">View Charges</a></h4>
            <p class="description">View past bills for buildings in NYC</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">About this Project</a></h4>
            <p class="description">Learn more about this project</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column justify-content-center p-5">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">About this Project</a></h4>
            <p class="description">
              This project was created for CISC 3810 as an example of a full stack application, using a Postgres database as part of the
              backend technology. Python and Flask were used for the business layer. The application and database are hosted on Heroku.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</main>
<!-- End #main -->

{% endblock content %}
